<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Anales de la Ciencia</title>
  <link rel="stylesheet" href= "/front/app/assets/stylesheets/home.css">
  <link rel="stylesheet" href="/front/app/assets/stylesheets/personajes.css">
  <link rel="stylesheet" href="/front/app/assets/stylesheets/writer.css">

</head>
<body>
  <!-------------------- BARRA DE NAVEGACIÓN ----------------------------------->
  <nav>
    <h1>ANALES DE LA CIENCIA</h1>
    <ul>
      <li><a href="/front/app/views/home/index.html">Inicio</a></li>
    </ul>
  </nav>
  
  <main>
    <!------- LOGIN -------->
    <section class="form-login" id="form-login">
      <h1>Login Here</h1>
      <form id="form-login">
        <label for="user-name">Usuario</label>
        <input type="text" id="user-name" name="user-name" required>
        <label for="pwd">Contraseña</label>
        <input type="password" id="pwd" name="pwd" required>

        <button type="submit" id="login-btn">Login</button>
      </form>
    </section>
    
   <div class="objetos">
        <!------- PERSONAJES -------->
        <div class="personajes" id="personajes">

        </div>
        
        <!------- ENTIDADES -------->
        <div class="entidades" id="entidades">
      
        </div>
    
        <!------- PRODUCTOS -------->
        <div class="productos" id="productos">
         
        </div>

        <!------- ASOCIACIONES -------->
        <div class="asociaciones" id="asociaciones">
         
        </div>
      
   </div>

  </main>

  <script type="module" src="../../javascripts/api.js"></script>
  <script type="module" src="../../javascripts/app.js"></script>


</body>
</html>
